     <div class="col-xs-12 col-md-10 col-md-offset-1 well bg-white">
        
        <md-card *ngFor="let product of products" >
          <md-card-subtitle>{{product.brand}}</md-card-subtitle>
          <md-card-title>{{product.name}}</md-card-title>
          <md-card-content>
            <p>{{product.description}}</p>
          </md-card-content>
          <md-card-actions>
            <button md-button>Rating: {{product.rating}}</button>
          </md-card-actions>
        </md-card>
        
         <h3> Add your review </h3>
        
        <md-card >
          <md-card-content>
 
                  <div  [hidden]="submitted">
                
                    <form *ngIf="active" (ngSubmit)="onSubmit()" #reviewForm="ngForm">
                      <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" required
                          [(ngModel)]="model.username"
                            ngControl="username"  #username="ngForm" >
                        <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
                          Email is required
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="comment">Comment</label>
                        <input type="text" class="form-control"
                          [(ngModel)]="model.comment"
                            ngControl="comment" >
                      </div>
                      <div class="form-group">
                        <label for="rating">Rating</label>
                        <select class="form-control" required
                          [(ngModel)]="model.rating"
                            ngControl="rating" #rating="ngForm" >
                          <option *ngFor="let r of ratings" [value]="r">{{r}}</option>
                        </select>
                        <div [hidden]="rating.valid || rating.pristine" class="alert alert-danger">
                          Rankings is required
                        </div>
                      </div>
                      <button type="submit" class="btn btn-default" [disabled]="!reviewForm.form.valid">Submit</button>
                      <p class="alert alert-error"><b>{{error}}</b></p>
                    </form>
                  </div>
                  <div [hidden]="!submitted">
                    <h2>You have submitted your review:</h2>
                    <div class="row">
                      <div class="col-xs-3">Email</div>
                      <div class="col-xs-9  pull-left">{{ model.username }}</div>
                    </div>
                    <div class="row">
                      <div class="col-xs-3">Comment</div>
                      <div class="col-xs-9 pull-left">{{ model.comment }}</div>
                    </div>
                    <div class="row">
                      <div class="col-xs-3">Rating</div>
                      <div class="col-xs-9 pull-left">{{ model.rating }}</div>
                    </div>
                    <br>
                    <button class="btn btn-default" (click)="submitted=false">Edit and add a new Review</button>
                  
                  </div>

          </md-card-content>
        </md-card>
        
        <reviews></reviews>
          
        
      </div>
