<header></header>

<section class="hero bg-color-1 padall5 sm-padall2">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-md-10 col-md-offset-1 well bg-white">
              
        <md-card *ngFor="let product of products" >
          <md-card-subtitle>{{product.brand}}</md-card-subtitle>
          <md-card-title>{{product.name}}</md-card-title>
          <md-card-content>
            <p>{{product.description}}</p>
          </md-card-content>
          <md-card-actions>
            <button md-button>Rating: {{product.rating}}</button>
            <button (click)="addReview(product.id)" md-button>Add Review</button>
          </md-card-actions>
        </md-card>
        <h3> Reviews: </h3>
        <md-card *ngFor="let review of reviews" >
          <md-card-title>{{review.username}}</md-card-title>
          <md-card-subtitle>ratinf: {{review.rating}}</md-card-subtitle>    
          <md-card-content>
            <p>{{review.comment}}</p>
          </md-card-content>
        </md-card>
           
      </div>
    </div>
  </div>
</section>

<footer></footer>
