<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'Excersise App' : title%></title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/waltonbrown.css">
    <!--STYLES END-->
  </head>
  <body>


<div class="default-page">
  <div class="header">
    <h1 id="main-title" class="container"><%= __('Excercise App.') %></h1>
  </div>
  <div class="main container clearfix">
             <%- body %>
              <!--TEMPLATES-->
              
              <!--TEMPLATES END-->
    <div class="links">
      <!-- <h3>Links</h3> -->
      <ul class="link-list">

        <h4>App Menu</h4>
        <a target="_self" href="/"><li>Home</li></a>
        <a target="_self" href="/products"><li>Products</li></a>
  
        <h4>Docs</h4>
        <a target="_blank" href="https://github.com/farandal/excercise"><li>GitHub Readme</li></a>
        <a target="_blank" href="http://sailsjs.org/#!/documentation/reference"><li>Sails.js Framework reference</li></a>
  
      </ul>
    </div>
  </div>
</div>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>